body{
    height: 100%;
    margin: 0;
    font-family: 'Gulzar', serif;
    font-family: 'Poppins', sans-serif;
}

.flood-text h1{
    font-size: 50px;
}

.flood-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/flood_area.jpg);
    height:450px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    margin-bottom: 50px;

}

.flood-text{
    text-align: center;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flood-text a{
    background-image: linear-gradient(orange,orangered);
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.donate-area{
    height: 200px;
    position: relative;
    width: 100%;
}

.donate-area button{
    padding-left: 1000px;
}

.donate-text button{
    background-color:rgb(230, 227, 227);
    color: rgb(61, 60, 60);
    padding: 20px;
    cursor: pointer;
    float: left;
    border: 5px solid rgb(230, 227, 227);
    margin: 5px;
    font-weight: bold;
}
#button-color{
    color: white;
    background-color: rgb(253, 94, 102);
    border: 5px solid rgb(253, 94, 102);
}
.other-amount{
    text-align: center;
    color: rgb(226, 223, 223);
}
.donation-plan{
    margin-top: 80px;
    text-align: center;
}