body{
    height: 100%;
    margin: 0;
    font-family: 'Gulzar', serif;
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
}

.flood-text h1{
    font-size: 50px;
}

.flood-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/flood_area.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.flood-text{
    text-align: center;
    position: absolute;
    color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flood-text a{
    background-image: linear-gradient(orange,orangered);
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}